[
    {
        "keys": ["primary+alt+r"],
        "command": "markdown_preview_overlay_toggle",
        "context": [
            {
                "key": "setting.is_widget",
                "operand": false
            }
        ]
    }
]
